[submodule "dnsenum"]
	path = dnsenum
	url = git@github.com:fwaeytens/dnsenum.git
[submodule "lunar"]
	path = lunar
	url = git@github.com:lateralblast/lunar.git
[submodule "ssh-audit"]
	path = ssh-audit
	url = git@github.com:arthepsy/ssh-audit.git
[submodule "setup-ipsec-vpn"]
	path = setup-ipsec-vpn
	url = git@github.com:hwdsl2/setup-ipsec-vpn.git
[submodule "probable-wordlists"]
	path = probable-wordlists
	url = git@github.com:berzerk0/Probable-Wordlists.git
[submodule "lynis"]
	path = lynis
	url = git@github.com:CISOfy/lynis.git
[submodule "aws-amicleaner"]
	path = aws-amicleaner
	url = git@github.com:bonclay7/aws-amicleaner.git
[submodule "gixy"]
	path = gixy
	url = git@github.com:yandex/gixy.git
[submodule "aws-cis-security-benchmark"]
	path = aws-cis-security-benchmark
	url = https://github.com/Alfresco/aws-cis-security-benchmark
[submodule "kube-bench"]
	path = kube-bench
	url = https://github.com/aquasecurity/kube-bench
[submodule "kubeval"]
	path = kubeval
	url = https://github.com/garethr/kubeval.git
