[submodule "dnsenum"]
	path = dnsenum
	url = git@github.com:fwaeytens/dnsenum.git
[submodule "lunar"]
	path = lunar
	url = git@github.com:lateralblast/lunar.git
[submodule "ssh-audit"]
	path = ssh-audit
	url = git@github.com:arthepsy/ssh-audit.git
[submodule "setup-ipsec-vpn"]
	path = setup-ipsec-vpn
	url = git@github.com:hwdsl2/setup-ipsec-vpn.git
[submodule "probable-wordlists"]
	path = probable-wordlists
	url = git@github.com:berzerk0/Probable-Wordlists.git
